.floating-action-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000; 
}

.floating-action-button button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #000;
  color: white;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.floating-action-button button:hover {
  background-color: #2a2a2a;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 90%;
  max-height: 80%;
  overflow-y: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.close-button {
  margin-top: auto;
  margin-left: auto;
  padding: 0.5rem 1rem;
  background-color: #2f2f2f;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-product-button {
  position: absolute;
  margin-top: auto;
  margin-right: auto;
  padding: 0.5rem 1rem;
  background-color: #2f2f2f;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


